<div class="uk-section uk-section-default uk-padding-remove-vertical">
	<div class="uk-child-width-1-2" uk-grid>
		<div class="">
			<img data-src="assets/logo_mini.png" width="50" height="50" alt="" uk-img>
			<span class="uk-text-secondary uk-margin-remove-bottom uk-text-bottom">
				<span class="uk-text-large ">Instagram</span>
			</span>
			<hr class="uk-margin-remove-top" />
			<div class="uk-height-large uk-background-contain" style="background-image: url(assets/instagram_log.png);"></div>
		</div>
		<div>
			<img data-src="assets/logo_mini.png" width="50" height="50" alt="" uk-img>
			<span class="uk-text-secondary uk-margin-remove-bottom uk-text-bottom">
				<span class="uk-text-large">はてなブログ</span>
			</span>
			<hr class="uk-margin-remove-top" />
			<div class="uk-height-large uk-width-1-1">
				<div class="uk-background-contain uk-height-small" style="background-image: url(assets/hatena_log.png);"></div>
				<div class="uk-background-contain uk-height-small" style="background-image: url(assets/hatena_log.png);"></div>
				<div class="uk-background-contain uk-height-small" style="background-image: url(assets/hatena_log.png);"></div>
			</div>
		</div>
	</div>
</div>