<div class="top-page">
    <img src="images/top-image3.jpg" alt="top-image">
    <pre class="top-page-word1">『家』から『豊かさ』をコミットする。</pre>
    <hr>
    <pre class="top-page-word2"> Life × Home × Comfortable</pre>
</div>