<header class="site-header" name="header">
    <pre class="site-header-band">    リフォームのご相談なら〇〇〇（企業名）にお任せください！お問い合わせお待ちしております。</pre>
    <div class="site-header-contents">
        <h1 class="site-logo"><a href="toppage.html"><img src="assets/top-logo.png" alt="会社名(logo)"></a></h1>
        <nav class="hnav">
            <ul class="hnav_menu1">
                <li class="hnav_menu_item"><a href=""><span class="hnav-span1">Plan</span><br><span class="hnav-span2">施工プラン</span></a></li>
                <li class="hnav_menu_item"><a href=""><span class="hnav-span1">Case</span><br><span class="hnav-span2">施工事例</span></a></li>
                <li class="hnav_menu_item"><a href=""><span class="hnav-span1">Advantage</span><br><span class="hnav-span2">自社の強み</span></a></li>
                <li class="hnav_menu_item"><a href=""><span class="hnav-span1">Shop</span><br><span class="hnav-span2">店舗案内</span></a></li>
            </ul>
            <ul class="hnav_menu2">
                <li class="hnav_menu_item"><img src="assets/tel.png" alt="tel"> 000-0000-0000</a></li>
                <li class="hnav_menu_item"><a href=""><img src="assets/mail.png" alt="mail"> お問い合わせ</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="hnav_menu3">
                <li class="hnav_menu_item"><a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="instagram"></a></li>
                <li class="hnav_menu_item"><a href="https://www.youtube.com/"><img src="assets/youtube.png" alt="YouTube"></a></li>
                <li class="hnav_menu_item"><a href="https://hatenablog.com/"><img src="assets/hatena_blog.png" alt="はてなブログ"></a></li>
            </ul>
        </nav>
    </div>
</header>