<div class="uk-section uk-section-secondary uk-light uk-padding-remove-top">
	<div class="uk-child-width-1-2" uk-grid>
		<div class="">
			<img data-src="assets/logo_mini.png" width="40" height="40" alt="" uk-img>
			<span class="uk-text-secondary uk-margin-remove-bottom uk-text-bottom">
				<span class="uk-text-large ">Contacts</span>
			</span>
			<hr class="uk-margin-remove-top" />
			<div class="uk-margin-large-left">
				<ul class="uk-list uk-list-bullet">
	    			<li>トップページ</li>
				    <li>施工プラン</li>
				    <li>施工事例</li>
				    <li>自社の強み</li>
				    <li>店舗案内</li>
				</ul>
			</div>
		</div>
		<div>
			<img data-src="assets/logo_mini.png" width="40" height="40" alt="" uk-img>
			<span class="uk-text-secondary uk-margin-remove-bottom uk-text-bottom">
				<span class="uk-text-large ">About</span>
			</span>
			<hr class="uk-margin-remove-top" />
			<div class="uk-margin-large-left">
				<ul class="uk-list">
				    <li>XXXX株式会社</li>
				    <li>00-0000-0000</li>
				    <li>XX県YYY市ZZZ町</li>
				    <li>WW駅</li>
				    <li>V口より徒歩M分</li>
				</ul>
			</div>
			<div>
				<span uk-icon="receiver"></span>000-0000-0000&nbsp;&nbsp;
				<span uk-icon="mail"></span>お問い合わせ
			</div>
		</div>
	</div>
</div>
<div class="uk-section uk-section-default uk-padding-remove-vertical uk-text-center">
	<img src="assets/logo.png" alt="" class="" width="50" height="50" />
</div>