<div class="uk-section-xlarge uk-margin-large-bottom uk-section-default uk-padding-remove">
	<div class="">
		<img data-src="assets/logo_mini.png" width="50" height="50" alt="" uk-img>
	 	<span class="uk-text-secondary uk-margin-remove-bottom uk-text-bottom">
	    <span class="uk-text-large ">Advantage</span>
        <span>自社の強み</span>
        <span>〇〇〇（会社名）　で理想の暮らしをご提案するために。</span>
	    </span>
    </div>
    <hr class="uk-margin-remove-top" />
	<div class="uk-height-large uk-child-width-1-2" uk-grid>
        <div class="uk-text-center uk-height-1-1 uk-padding-remove">
            <pre class="advantage-comment uk-margin-remove-top">今の住まいの事、お金のこと<br>　理想の家作りをサポートします。</pre>
            <div class="advantage-table uk-text-left uk-margin-bottom">
                <table>
                    <tr>
                        <td rowspan="4"><img src="assets/Advantage logo.png" class="advantage-logo" alt="ADVANTAGES"></td>
                        <td class="advantage-cols"><span class="advantage-num">&nbsp&nbsp01&nbsp&nbsp</span><span style="font-size:30px;">○○○</span>
                    </tr>
                    <tr>
                        <td class="advantage-cols"><span class="advantage-num">&nbsp&nbsp02&nbsp&nbsp</span><span style="font-size:30px;">○○○</span>
                    </tr>
                    <tr>
                        <td class="advantage-cols"><span class="advantage-num">&nbsp&nbsp03&nbsp&nbsp</span><span style="font-size:30px;">○○○</span>
                    </tr>
                    <tr>
                        <td class="advantage-cols"><span class="advantage-num">&nbsp&nbsp04&nbsp&nbsp</span><span style="font-size:30px;">○○○</span>
                    </tr>
                </table>
            </div>
        </div>
		<div class="uk-text-center uk-height-1-1 uk-padding-remove advantage-right ">
            <img class="advantage-img uk-align-right uk-margin-remove-top" src="assets/Advantage.png" alt="ADVANTAGE">
            <div class="uk-text-right uk-text-bottom">			
                <button class="uk-button uk-margin-small uk-button-secondary uk-button-small">○○（会社名）の強みを知る<span uk-icon="chevron-double-right"></span></button>
            </div>
        </div>
    </div>
</div>