<div class="uk-section uk-section-default uk-padding-remove-vertical">
	<div class="uk-child-width-1-2" uk-grid>
		<div class="uk-height-medium uk-background-cover" style="background-image: url(assets/kichin.jpg);">

		</div>
		<div class="uk-height-medium uk-background-cover uk-text-center uk-text-bottom" style="background-image: url(assets/info_logo.png); background-color: #00ffff;">
				<!-- <div class="uk-height-1-1"></div> -->
				<!-- <div uk-height-viewport="offset-top: true"></div> -->
				<!-- <div uk-height-viewport="expand: true"></div> -->
				<div class="uk-height-small"></div>
				<div class="uk-padding-small uk-margin-large-bottom uk-margin-large-right uk-margin-large-left uk-margin-large-top uk-text-center uk-width-auto" style="border: 1px solid #000000;">
					<a class="uk-text-secondary uk-text-bold">資料請求・問い合わせはコチラ<span uk-icon="chevron-double-right"></span></a>
				</div>
				
		</div>
	</div>
</div>