<div class="uk-section uk-section-default uk-padding-remove-top uk-margin-top">
	<div>
		<img data-src="assets/logo_mini.png" width="50" height="50" alt="" uk-img>
	 	<span class="uk-text-secondary uk-margin-remove-bottom uk-text-bottom">
	    <span class="uk-text-large ">Plan</span>
	    <span>施工プラン</span>
	    </span>
	</div>
	<hr class="uk-margin-remove" />
	<div class="uk-height-large uk-child-width-1-2" uk-grid>
		<div class="uk-text-center uk-height-1-1 uk-padding">
            <a href=""><div class="uk-background-contain uk-height-large" style="background-image: url(assets/Apatment_log2.png);"></div></a>
		</div>
        <div class="uk-text-center uk-height-1-1 uk-padding">
            <a href=""><div class="uk-background-contain uk-height-large" style="background-image: url(assets/House_log2.png);"></div></a>
        </div>
	</div>
</div>