// Place all the styles related to the Tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    line-height:1;
}
nav ul {
    list-style:none;
    text-align:center;
    vertical-align: middle;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.site-header{
    z-index:9999;
    font-size: 22px;
	position: fixed;
    width: 100%;
}
.site-header-band{
    background-color: black;
    color: white;
    font-size: small;
    width: 100%;
    margin: 0px;
}
.site-header-contents{
	background:  rgb(255, 255, 255);
	display: flex;
	padding: 20px 20px;
    justify-content: space-between;
}
.site-logo img{
    background:  white;
	height: 30px;
    width: auto;
    font-size: 50%;
}
.hnav{
    display: flex;
}
.hnav li{
    margin: 10px 20px 0px 20px;
}
.hnav_menu1{
    display: flex;
}
.hnav_menu2{
    display: block;
    text-align: left;
    font-size: 80%;
    margin: 0px;
}
.hnav_menu2 img{
    width: 17px;
}
.hnav_menu2 li{
    margin-bottom: 7px;
}
.hnav_menu3{
    display: flex;
    text-align: right;
}
.hnav_menu3 img{
    width: 50px;
    font-size: 50%;
}
.hnav_menu_item{
	margin-left: 20px;
}
.hnav_menu_item a{
	color: #333;
	text-decoration: none;
}
.top-page{
    overflow: hidden;
    min-width: 50%;
    min-height: 50%;
}
.top-page img{
    height: 100%;
	width: 100%;
}
.top-page-word1{
    position: absolute;
    border: 0 none; 
    color: rgb(255, 252, 205);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 4em;
    font-family :Quicksand, sans-serif;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top-page-word2{
    position: absolute;
    border: 0 none; 
    color: rgb(255, 252, 205);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    font-size: 3em;
    font-family :Quicksand, sans-serif;
    top: 90%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.top-page hr{
    border: 0 none; 
    position: absolute;
    color: rgb(255, 252, 205);
    background: rgb(255, 252, 205);
    height: 15px;
    width: 1200px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.advantage ul{
    list-style:none;
}
.advantage-right{
    display: block;
}
.advantage-comment{
    border: none;
    font-size: 2em;
    color: black;
    margin-top: 0px;
}
.advantage-table{
    border: 1px rgb(130, 220, 255) solid;
    margin-left: 50px;
    background-color: rgb(130, 220, 255);
}
.advantage-cols{
    border: 1px gray dotted;
    width: 500px;
    height: 95px;
    background-color: white;
}
.advantage-logo{
    width: 250px;
}
.advantage-num{
    font-size: x-large;
    border: 1px;
    color: white;
    border-color: rgb(130, 220, 255);
    background: gray;
}
.advantage-img{
    display: block;
}