*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.site-header{
    z-index:9999;
    font-size: 22px;
	position: fixed;
	width: 100%;
}
.site-header-band{
    background-color: black;
    color: white;
    font-size: small;
    width: 100%;
}
.site-header-contents{
	background:  rgb(255, 255, 255);
	display: flex;
	padding: 20px 20px;
	justify-content: space-between;
}
.site-logo img{
    background:  white;
	height: 30px;
    width: auto;
    font-size: 50%;
}
.hnav{
    display: flex;
}
.hnav li{
    margin: 0px 20px;
}
.hnav_menu1{
    display: flex;
}
.hnav_menu2{
    display: block;
    text-align: left;
    font-size: 80%;
}
.hnav_menu2 img{
    width: 17px;
}
.hnav_menu2 li{
    margin-bottom: 7px;
}
.hnav_menu3{
    display: flex;
    text-align: right;
}
.hnav_menu3 img{
    width: 50px;
    font-size: 50%;
}
.hnav_menu_item{
	margin-left: 20px;
}
.hnav_menu_item a{
	color: #333;
	text-decoration: none;
}
.top-page{
    overflow: hidden;
    min-width: 50%;
    min-height: 50%;
}
.top-page img{
    height: 100%;
	width: 100%;
}
.top-page-word1{
    position: absolute;
    color: rgb(255, 252, 205);
    font-weight: bold;
    font-size: 4em;
    font-family :Quicksand, sans-serif;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top-page-word2{
    position: absolute;
    color: rgb(255, 252, 205);
    font-weight: bold;
    font-size: 3em;
    font-family :Quicksand, sans-serif;
    top: 90%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.top-page hr{
    border: 0 none; 
    position: absolute;
    color: rgb(255, 252, 205);
    background: rgb(255, 252, 205);
    height: 15px;
    width: 1200px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}