<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>TopPage</title>
<link href="top-reset.css" rel="stylesheet" type="text/css">
<link href="top-style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="site-header" name="header">
    <p class="site-header-band">&nbsp&nbsp&nbspリフォームのご相談なら〇〇〇（企業名）にお任せください！お問い合わせお待ちしております。</p>
    <div class="site-header-contents">
        <h1 class="site-logo"><a href="toppage.html"><img src="images/logo.png" alt="会社名(logo)"></a></h1>
        <nav class="hnav">
            <ul class="hnav_menu1">
                <li class="hnav_menu_item"><a href=""><strong>Plan</strong><br>施工プラン</a></li>
                <li class="hnav_menu_item"><a href=""><strong>Case</strong><br>施工事例</a></li>
                <li class="hnav_menu_item"><a href=""><strong>Advantage</strong><br>自社の強み</a></li>
                <li class="hnav_menu_item"><a href=""><strong>Shop</strong><br>店舗案内</a></li>
            </ul>
            <ul class="hnav_menu2">
                <li class="hnav_menu_item"><img src="images/tel.png" alt="tel"> 000-0000-0000</a></li>
                <li class="hnav_menu_item"><a href=""><img src="images/mail.png" alt="mail"> お問い合わせ</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="hnav_menu3">
                <li class="hnav_menu_item"><a href="https://www.instagram.com/"><img src="images/instagram.png" alt="instagram"></a></li>
                <li class="hnav_menu_item"><a href="https://www.youtube.com/"><img src="images/youtube.png" alt="YouTube"></a></li>
                <li class="hnav_menu_item"><a href="https://hatenablog.com/"><img src="images/hatena_blog.png" alt="はてなブログ"></a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="top-page">
    <img src="images/top-image3.jpg" alt="top-image">
    <pre class="top-page-word1">『家』から『豊かさ』をコミットする。</pre>
    <hr>
    <pre class="top-page-word2"> Life × Home × Comfortable</pre>
</div>
</body>
</html>